:root {
  --font-family: Arial, sans-serif;
  --background-color: #beecfb89;
  --text-color: #000000;
  --accent-color: #123124;
  --shadow-color: rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li {
  text-decoration: none;
}

img {
  display: block;
}

body {
  color: var(--text-color);
}

/* MODAL */
#show-details {
  border: none;
  padding: 0;
  border-radius: 4px;
  margin: auto;
}

#show-details::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}

#show-content {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  border-radius: 4px;
  box-shadow: 0 2px 4px var(--shadow-color);
  padding: 20px;
  overflow: auto;
}

#show-close-details-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

#show-close-details {
  padding: .2rem 0.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: rgb(153, 210, 229);
  border: 1px solid transparent;
}

#info-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
}

#image-content {
  display: flex;
  flex-direction: column;
  max-width: 250px;
}

#show-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
}

#show-title {
  text-align: center;
  font-weight: bold;
}

#show-summary {
  text-align: center;
}

@media (min-width: 480px) {
  #info-content {
    justify-content: flex-start;
    flex-direction: row;
    gap: 2rem;
  }

  #show-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
